<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <hr />
    <div class="well well-lg">
      Your device address:
      <strong>
        <%=wallet%>
      </strong>
    </div>
    <hr />
    <div class="jumbotron">
      <h1>
        <%-(device && device.returnValues.name)%>
      </h1>
      <p>Your device ID is:
        <strong>
          <%=device_id %>
        </strong>
      </p>

      <p>
        Current state:
        <strong>
          <%-(device_state && parseInt(device_state.state, 10) === 1 ? "On" : "Off")%>
        </strong>
      </p>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
